h1 {
    background-color: #f2c9fb;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Courgette', cursive;
    text-shadow: 1px 1px 5px black;
}

.headings {
    margin-top: 3rem;
    font-family: 'Abel', sans-serif;
    text-decoration: underline;
}

.alert {
    display: none;
}

#green-status {
    position: absolute; 
    top: 15px;
    right: 15px;
    font-size: 1em;
}